<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/password.js}"></script>
</th:block>

</html>



<!--<dependency>-->
<!--    <groupId>org.webjars</groupId>-->
<!--    <artifactId>jquery</artifactId>-->
<!--    <version>3.6.0</version>-->
<!--</dependency>-->

<!--<dependency>-->
<!--    <groupId>org.webjars</groupId>-->
<!--    <artifactId>bootstrap</artifactId>-->
<!--    <version>5.1.2</version>-->
<!--</dependency>-->

<!--<dependency>-->
<!--    <groupId>org.webjars</groupId>-->
<!--    <artifactId>font-awesome</artifactId>-->
<!--    <version>5.15.4</version>-->
<!--</dependency>-->